.m-hero {
  &__title {
    @include font(primary, regular);
    font-size: 40px;
  }
  &__subtitle {
    @include font(primary, semi-bold);
    font-size: 18px;
  }
  .a-button {
    margin-top: 20px;
  }
}
